*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
lib/terraform/cdktf.out
lib/terraform/.terraform/*


# go binaries
cmd/**/bin
vendor/*
cmd/vendor*

doc/.DS_Store

.DS_Store
**/arweave.json
# assets
!package.json
*.bin
*.zip
*.jpg
*.png
*.gltf
*.glb
!lib/functions/assets/gltf/


# ext libraries
kaleido-core
